*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#navbarbox{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);

}

#navbartexethover a:hover{

      border-bottom: 2px solid green;

}

section{
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#home {
    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,3)) , url("web2.jpg");
    background-size: cover;
    background-position: center;
    flex-direction: column;

}

#home h1{
    font-size: 100px;
}


#card{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
    margin-top: 70px;
    margin-right: 60px ;
    margin-left: 10px ;
    transition: .5s;

}


#card:hover{
    transform: scale(1.2);
}

#product {
  border-bottom: 2px solid green; 
  padding-bottom: 4px;
  margin-top: 30px;
  font-size: 100px;
  font-family: "Playfair Display", serif;
}
